@import 'Scss/reset';
@import 'Scss/fonts';
@import 'Scss/style';

body{
    
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
}
.background-img{
    height: 50vh;
    width: 50vw;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: var(--LightGrayishBlue);
    z-index: -1;
    border-bottom-left-radius: 50px;
}
header{
    padding: 3vw 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    .nav-links{
        display: flex;
        .nav-link{
            list-style: none;
            margin-right: 2vw;
            text-transform: uppercase;
            
            font-family: 'Barlow Condensed', sans-serif;
            font-weight: 700;
            letter-spacing: 2px;
            transition: all 0.5s ease-in-out;
            position: relative;
            &::before{
                content:'';
                position: absolute;
                top: 100%;
                left: 100%;
                right: 0px;
                height: 0.2rem;
                background-color: var(--Red);
                transition: all 0.5s ease-in-out;
            }
            &:hover{
                cursor: pointer;
                position: relative;
                transition: all 0.5s ease-in-out;
                &::before{
                    content:'';
                    position: absolute;
                    top: 100%;
                    left: 0%;
                    right: 0px;
                    height: 0.2rem;
                    background-color: var(--Red);
                    transition: all 0.5s ease-in-out;
                }
            }
        }
        .nav-link-login{
            list-style: none;
            text-transform: uppercase;
            font-family: 'Barlow Condensed', sans-serif;
            font-weight: 700;
            letter-spacing: 2px;
            color:var(--GrayishBlue);
            margin-left: 4vw;
            position: relative;
            &::before{
                display: flex;
                position: absolute;
                content:"";
                left: -3vw;
                // font-size: 2rem;
                top: 50%;
                transform: translateY(-50%);
                background-color: var(--GrayishBlue);
                width: 6px;
                height: 6px;
                border-radius: 50%;
            }
            &::after{
                content:'';
                position: absolute;
                top: 100%;
                left: 100%;
                right: 0px;
                height: 0.2rem;
                background-color: var(--Red);
                transition: all 0.5s ease-in-out;
            }
            &:hover{
                cursor: pointer;
                position: relative;
                transition: all 0.5s ease-in-out;
                &::after{
                    content:'';
                    position: absolute;
                    top: 100%;
                    left: 0%;
                    right: 0px;
                    height: 0.2rem;
                    background-color: var(--Red);
                    transition: all 0.5s ease-in-out;
                }
            }
        }
    }
}
main{
    display: flex;
    margin-top: 10vh;
    position: relative;
    padding: 0rem 10vw;
    .content{
        width: 50%;
        .small-header{
            display: flex;
            &-new{
                background-color: black;
                color: white;
                padding: 0px 20px;
                border-radius: 100px;
                text-transform: uppercase;
                font-family: 'Barlow Condensed', sans-serif;
                margin-right: 1rem;
                font-weight: 400;
                font-size: 1.3vw;
            }
            &-main{
                color: var(--GrayishBlue);
                text-transform: uppercase;
                letter-spacing: 4px;
                font-family: 'Barlow Condensed', sans-serif;
                font-weight: 400;
                font-size: 1.3vw;
            }
        }
        .main-header{
            font-family: 'Barlow Condensed', sans-serif;
                font-weight: 700;
                font-size: 4vw;
                text-transform: uppercase;
                line-height: 100%;
                margin: 1rem 0rem;
        }
        .main-sub{
            color: var(--GrayishBlue);
            width: 50%;
            font-size: 1.7vw;
            line-height: 100%;
        }
        .main-action{
            margin-top: 5vw;
            display: flex;
            &-btn{
                background-color: var(--Red);
                color: var(--LightGrayishBlue);
                font-size: 1.3vw;
                font-family: 'Barlow Condensed', sans-serif;
                font-weight: 700;
                text-transform: uppercase;
                padding: 0rem 3vw;
                border-radius: 10px;
                border: none;
                &:hover{
                    cursor: pointer;
                    opacity: 0.8;
                }
            }
            &-text{
                margin-left: 2vw;
                color: var(--GrayishBlue);
                text-transform: uppercase;
                letter-spacing: 3px;
                font-family: 'Barlow Condensed', sans-serif;
                font-size: 1.3vw;
            }
        }
    }
    .image{
       position: absolute;
       right: -49vw;
       width: 100vw;
       height: auto;
       img{
        width: 70vw;
       }
    }
}


@media (max-width: 800px){
    .background-img{
        height: 55vh;
        width: 50vw;
        position: absolute;
        right: 0px;
        top: 0px;
        background-color: var(--LightGrayishBlue);
        z-index: -1;
        border-bottom-left-radius: 50px;
    }
    nav{
        .menu-btn{
            height: 0.2rem;
            width: 2rem;
            background-color: black;
            position: relative;
            transition: all 0.5s;
            &::before{
                content:'';
                height: 0.2rem;
                width: 2rem;
                background-color: black;
                position: absolute;
                top: -8px;
                transition: all 0.5s;
            }
            &::after{
                content:'';
                height: 0.2rem;
                width: 2rem;
                background-color: black;
                position: absolute;
                top: 8px;
                transition: all 0.5s;
            }
        }
        .menu-btn-open{
            height: 0.2rem;
            width: 0rem;
            background-color: black;
            position: relative;
            
            &::before{
                content:'';
                height: 0.2rem;
                width: 2rem;
                background-color: black;
                position: absolute;
                top: 0px;
                transform: rotate(45deg);
                left: -20px;
            }
            &::after{
                content:'';
                height: 0.2rem;
                width: 2rem;
                background-color: black;
                position: absolute;
                top: 0px;
                left: -20px;
                transform: rotate(-45deg);
            }
        }
        .nav-links{
            position: absolute;
            transform: translateY(-100vh);

        }
        .nav-links-open{
            transform: translateY(0vh);
           
            padding: 0px;
            z-index: 2;
            position: absolute;
            left: 40px;
            right: 40px;
            top: 3rem;
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            box-shadow: 2px 2px 10px 1px black;
            .nav-link{
                list-style: none;
                margin-top: 5vw;
                text-transform: uppercase;
                
                font-family: 'Barlow Condensed', sans-serif;
                font-weight: 700;
                letter-spacing: 2px;
            }
            .nav-link-login{
                list-style: none;
                text-transform: uppercase;
                font-family: 'Barlow Condensed', sans-serif;
                font-weight: 700;
                letter-spacing: 2px;
                color:var(--GrayishBlue);
                margin-left: 0vw;
                margin-top: 10vw;
                margin-bottom: 5vw;
                position: relative;
                
                &::before{
                    display: flex;
                    position: absolute;
                    content:"";
                    left: 20px;
                    right: 20px;
                    // font-size: 2rem;
                    top: -50%;
                    transform: none;
                    background-color:rgba(0,0,0,0.3);
                    width: auto;
                    height: 1px;
                    border-radius: 0%;
                }
            }
        }
    }
    main{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 10vh;
        position: relative;
        padding: 0rem 10vw;
        .content{
            width: 100%;
            margin-top: 3rem;
            margin-bottom: 3rem;
            .small-header{
                display: flex;
                &-new{
                    background-color: black;
                    color: white;
                    padding: 0px 20px;
                    border-radius: 100px;
                    text-transform: uppercase;
                    font-family: 'Barlow Condensed', sans-serif;
                    margin-right: 1rem;
                    font-weight: 400;
                    font-size: 1rem;
                }
                &-main{
                    color: var(--GrayishBlue);
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-family: 'Barlow Condensed', sans-serif;
                    font-weight: 400;
                    font-size: 1rem;
                }
            }
            .main-header{
                font-family: 'Barlow Condensed', sans-serif;
                    font-weight: 700;
                    font-size: 2rem;
                    text-transform: uppercase;
                    line-height: 100%;
                    margin: 1rem 0rem;
            }
            .main-sub{
                color: var(--GrayishBlue);
                width: 100%;
                font-size: 1rem;
                line-height: 100%;
            }
            .main-action{
                margin-top: 5vw;
                display: flex;
                &-btn{
                    background-color: var(--Red);
                    color: var(--LightGrayishBlue);
                    font-size: 0.9rem;
                    font-family: 'Barlow Condensed', sans-serif;
                    font-weight: 700;
                    text-transform: uppercase;
                    padding: 5px 10px;
                    border-radius: 10px;
                    border: none;
                }
                &-text{
                    margin-left: 2vw;
                    color: var(--GrayishBlue);
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    font-family: 'Barlow Condensed', sans-serif;
                    font-size: 0.7rem;
                }
            }
        }
        .image{
            margin-top: 2rem;
           position: relative;
           right: 10vw;
           width: 100vw;
           top: -10vw;
           height: auto;
           img{
            width: 140vw;
           }
        }
    }
    
}


.preloader
{
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    top: 0px;
    left: 0px;
    background:linear-gradient(-45deg,var(--Red),var(--LightGrayishBlue),var(--DarkGrayishBlue),white);
    background-size: 600%;
    background-position: 100%;
    animation: preload 5s infinite alternate forwards,
                disablePreload 3s 6s 1 forwards;

}
@keyframes preload {
    0%{
        background-position: 100%;
        
        background-size: 600%;
    }
    100%{
        background-position: 0%;
       
        background-size: 100%;
    }
}
@keyframes disablePreload {
    0%{
       transform: scale(1);
        opacity: 1;
    }
    90%{
        transform: scale(5);
        opacity: 0;
    }
    100%{
        transform: scale(0);
        opacity: 0;
        

    }
}